.coupone-table {
  border: 1px solid;
  border-radius: 6px;
  width: 600px;
  text-align: left;
}

.coupone-table__item {
  text-align: left;
  height: 40px;
  border: black;
}

.old-coupones {
  color: grey;
}

.feature-coupones {
  background-color: aliceblue;
}


.current_coupon_span {
  color: grey;
  font-size: 12px;
}

.hidden {
  display: none;
}